<!DOCTYPE html>
<html>

<head>
    <title>{% PAGE_TITLE %} | {% site_title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/mobile.css" media="screen and (max-width: 600px)">
</head>

<body>
    <div id="navbar">
        <a href="/">home</a> |
        <a href="/about.html">about</a> |
        <a href="/contact.html">contact</a> |
        <a href="/projects.html">projects</a> |
        <a href="/help.html">help</a> |
        <i>you are on: <a href="/{% site_yao %}.html">{% site_yao %}</a></i>
    </div>
    <h1 class="main-header">{% site_title %}</h1> <i class="main-tagline">{% site_tagline %}</i>
    <div id="main-copy">
        <div id="media">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Bauphasen_HSG-Neubau%2C_Innenansicht_Rohbau_Treppenaufgang_Hauptgeb%C3%A4ude%2C_HSGH_022-001324-04.png/771px-Bauphasen_HSG-Neubau%2C_Innenansicht_Rohbau_Treppenaufgang_Hauptgeb%C3%A4ude%2C_HSGH_022-001324-04.png?20230523144349" /><br />
            <i>Image courtesy of <b>Universitätsarchiv St.Gallen</b>, licensed under <a
                    href="https://creativecommons.org/licenses/by-sa/4.0/">
                    CC-BY-SA 4.0</a></i>
        </div>

        <h1>{% PAGE_TITLE %}</h1>
        {% PAGE_CONTENT %}
        <hr />
    </div>
    <code><i>built using <b>malinowy</b></i></code>
</body>

</html>